body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 20px auto;
}

.item {
  width: 250px;
  height: 250px;
  margin: 20px 0;

  border-radius: 10px;
  background-color: #ccc;
}

.item.red {
  background-color: #eb3434;
}

.item.blue {
  background-color: #1057dd;
}

[data-aos="new-animation"] {
  transform: rotate(0);
}

[data-aos="new-animation"].aos-animate {
  transform: rotate(0);
  transform: rotate(360deg);
}

[data-aos="my-animate"] {
  transform: rotate3d(1, 1, 0, 180deg);
  transform-origin: 0% 100%;
}

[data-aos="my-animate"].aos-animate {
  transform: rotate3d(1, 1, 0, 0deg);
  transform-origin: 0% 100%;
}
